* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colors-bg--500: #191a1e;
$colors-bg--300: #1e181e;
$colors-primary--200: #f4908b;
$colors-primary--300: #ea6f69;
$colors-primary--500: #e8615a;
$colors-primary--600: #9c3230;
$colors-primary--700: #5e2122;
$colors-primary--800: #451717;
$colors-primary--900: #3c181a;
$colors-secondary--500: #2be4ea;
$colors-secondary--900: #295459;
$colors-tertiary--500: #fed33f;
$colors-on_bg--500: $colors-primary--500;
$colors-on_tertiary--500: $colors-bg--300;
$colors-on_primary--500: $colors-primary--200;
$colors-active--500: #2bfea0;
$fonts-primary: "Rajdhani", sans-serif;
$fonts-secondary: "VT323", monospace;
$ui-glow: 0 0 5px $colors-primary--500;
$ui-glow-borders--500: 0 0 3px $colors-primary--500;
$ui-glow-color: currentcolor;
$ui-glow-text: -9px -6px 40px $ui-glow-color;
$ui-glow-text--dimmed: -9px -6px 40px $ui-glow-color;
$ui-elevation--1: 2px 2px 0 rgba(0, 0, 0, 0.8);
$ui-notch-amount: 1rem;
$ui-notch-hypotenuse: 22.627416px; /* hypothenuse of --ui-notch-amount */
$ui-notch-path: polygon(
  0 0,
  100% 0,
  100% calc(100% - 1rem + 2px),
  calc(100% - 1rem + 2px) 100%,
  0 100%
);

.button {
  background-color: transparent;
  border: 1px solid $colors-primary--500;
  border-radius: 2px;
  cursor: pointer;
  color: $colors-primary--500;
  display: inline-block;
  font-family: $fonts-primary;
  letter-spacing: 0.045em;
  padding: 0.45rem;
  text-align: left;
  text-transform: uppercase;
}

.button--primary {
  color: $colors-secondary--500;
  border-color: $colors-secondary--500;
}

.button--size-lg,
.button--size-xl {
  border-width: 2px;
  -webkit-clip-path: $ui-notch-path;
  clip-path: $ui-notch-path;
  padding: 0.55rem 0.7rem 0.7rem 0.55rem;
  position: relative;
  &::before {
    position: absolute;
    background-color: currentcolor;
    bottom: 5px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: -6px;
    top: auto;
    transform: rotate(-45deg);
    width: $ui-notch-hypotenuse;
    z-index: 100;
  }
}

.form-control {
  background-color: $colors-bg--300;
  border: 1px solid $colors-primary--600;
  -webkit-clip-path: $ui-notch-path;
  clip-path: $ui-notch-path;
  padding-right: 0.5rem;
  position: relative;
  &::before {
    position: absolute;
    background-color: $colors-primary--600;
    bottom: 5px;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    right: -6px;
    top: auto;
    transform: rotate(-45deg);
    width: $ui-notch-hypotenuse;
    z-index: 100;
  }
  input,
  textarea {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: var(--colors-primary--500);
    font-family: var(--fonts-primary);
    font-size: 1rem;
    letter-spacing: 0.045em;
    outline: none;
    padding: 0.5rem;
    resize: none;
    width: 100%;
  }
}
.form-control__addon {
  display: inline-block;
  padding: 0.45rem;
}
.form-control--with-addon {
  align-items: center;
  display: flex;
}
.form-control__addon--prefix {
  order: -1;
}
